.FeatureLink {
    cursor: pointer;
    text-decoration: underline;
}

.FrankComesAlive {
    color: #4dc040ff;
}

.MonstersOfRock {
    color: #da70d6;
}

.DracAttack {
    color: #2033d9ff;
}

.FullMoonFever {
    color: #ac0606ff;
}

.MummyMayhem {
    color: #634b4bff;
}

.BallAndChain {
    color: #545864ff;
}

.CreatureFeature {
    color: #045d4bff;
}

.PhantomFlip {
    color: #2b4040ff;
}

.Special {
    color: #9f2d2dff;
}

.MonsterMoshPit {
    color: #562944ff;
}

.MonsterBash {
    color: #a01360ff;
}

.ExtraBall {
    color: #5c3979ff;
}

.MonsterInstruments {
    color: #05292600;
}

.TombTreasure {
    color: #57520000;
}

.Dig {
    color: #52525200;
}