.FeatureLink {
    cursor: pointer;
    text-decoration: underline;
}

.FrankComesAlive {
    color: #4dc040;
}

.MonstersOfRock {
    color: #da70d6;
}

.DracAttack {
    color: #2033d9;
}

.FullMoonFever {
    color: #ac0606;
}

.MummyMayhem {
    color: #634b4b;
}

.BallAndChain {
    color: #545864;
}

.CreatureFeature {
    color: #045d4b;
}

.PhantomFlip {
    color: #2b4040;
}

.Special {
    color: #9f2d2d;
}

.MonsterMoshPit {
    color: #562944;
}

.MonsterBash {
    color: #a01360;
}

.ExtraBall {
    color: #5c3979;
}

.MonsterInstruments {
    color: #052926;
}

.TombTreasure {
    color: #575200;
}

.Dig {
    color: #525252;
}