body {
    background: #121212;
}

#svg1 {
    width: 100% !important;
    height: 100vh !important;
}

@media (max-width: 1000px) {
    #svg1 {
        width: 100% !important;
        height: 100% !important;
    }
}

svg path {
    cursor: pointer;
}

.FeatureLink {
    cursor: pointer;
    text-decoration: underline;
}

.featureHover {
    fill: rgba(0, 0, 0, 50) !important;
    fill-opacity: 25% !important;
}

.github-link {
    text-align: center;
}

.github-link a {
    color: whitesmoke;
}

.github-link img {
    height: 15px;
}

.blink {  
    animation-name: blink; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    -webkit-animation-name: blink; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    from {
        fill: white;
        fill-opacity: 50%;
    }
    50% {
        fill: white;
        fill-opacity: 0%;
    }
    to {
        fill: white;
        fill-opacity: 50%;
    }
}

@-moz-keyframes blink {
    from {
        fill: white;
        fill-opacity: 50%;
    }
    50% {
        fill: white;
        fill-opacity: 0%;
    }
    to {
        fill: white;
        fill-opacity: 50%;
    }
}

@keyframes blink {
    from {
        fill: white;
        fill-opacity: 50%;
    }
    50% {
        fill: white;
        fill-opacity: 0%;
    }
    to {
        fill: white;
        fill-opacity: 50%;
    }
}