body {
    background: #121212;
}

#svg1 {
    width: 100% !important;
    height: 100vh !important;
}

@media (max-width: 1000px) {
    #svg1 {
        width: 100% !important;
        height: 100% !important;
    }
}

svg path {
    cursor: pointer;
}

.FeatureLink {
    cursor: pointer;
    text-decoration: underline;
}

.featureHover {
    fill: rgba(0, 0, 0, 50) !important;
    fill-opacity: 25% !important;
}