.Bonus {
    color: #bb0707;
}

.DoubleBonus {
    color: #8c288f;
}

.Spinner {
    color: #a60303;
}

.PopBumpers {
    color: #36422f;
}

.Inlanes {
    color: #685309;
}

.AztecLetters {
    color: #000033;
}

.Special {
    color: #235b15;
}

.ExtraBall {
    color: #405959;
}