.ActionButton {
    color: #D0DBD3;
}

.Bird1Multiball {
    color: #FFADC5;
}

.BondLetters {
    color: #85FF47;
}

.BondWomen {
    color: #CBE600;
}

.DoubleOhSevenScoring {
    color: #FFB35C;
}

.DragonTankTarget {
    color: #A7EDC7;
}

.HerMajestysSecretService {
    color: #A8FFA4;
}

.HenchmenModes {
    color: #DAC6B9;
}

.HighStakes {
    color: #b1f3f2;
}

.JetpackMultiball {
    color: #FAFFAD;
}

.MI6Lanes {
    color: #FFD1A4;
}

.PopBumpers {
    color: #B8CAEA;
}

.QBranch {
    color: #DACBE7;
}

.RocketLane {
    color: #FFF0DF;
}

.SkillShots {
    color: #00E639;
}

.SPECTRELetters {
    color: #4ad0fc;
}

.VillainModes {
    color: #cff9bd;
}