.OneTwoThree {
    color: #005c56;
}

.TwoXLoop {
    color: #575757;
}

.Bonus {
    color: #a60303;
}

.BonusMultiplier {
    color: #305b06;
}

.ExtraBall {
    color: #8b22a5;
}

.Loop {
    color: #753f00;
}

.PopBumpers {
    color: #595959;
}

.ShootAgain {
    color: #4d5106;
}

.Slings {
    color: #1a1a1a;
}

.Special {
    color: #91134b;
}

.Spinner {
    color: #1d4dc9;
}

.TargetBanks {
    color: #380f0f;
}