.AlienTargets {
    color: #a11b65;
}

.Bonus {
    color: #851589;
}

.BonusMultiplier {
    color: #0e5d5b;
}

.HoldBonus {
    color: #092f44;
}

.Multiball {
    color: #1A3320;
}

.MultiballMultiplier {
    color: #19590d;
}

.PopBumpers {
    color: #454545;
}

.StarLanes {
    color: #575922;
}

.Slings {
    color: #2b2b2b;
}

.Special {
    color: #840606;
}

.Spinner {
    color: #0505ff;
}